[user]
	name = Michael Turmon
	email = turmon@jpl.nasa.gov
[alias]
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[push]
	default = simple
